body {
    background-color: rgb(255, 255, 255);
    margin: 3%;
}
header {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    background-color: lavender;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: -10px;
    margin-right: -10px;
    font-family: Trebuchet MS, sans-serif
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.connections-button {
    width: 200px;
    height: 125px;
    font-size: 16px;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.connections-button:hover {
    background-color: #333;
    color: #fff;
}

.connections-button.active {
    background-color: #333;
    color: #fff
}

#network-response {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
